<footer class="py-5 bg-light mt-5">
    <div class="container text-center">

        <div class="row mb-2">
            <div class="col">
                <section class="icon-list">
                    <i class="nes-icon twitter is-large"></i>
                    <i class="nes-icon facebook is-large"></i>
                    <i class="nes-icon instagram is-large"></i>
                    <i class="nes-icon github is-large"></i>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col">
                @ 2023 Copyright: Maximiliano Burgos
            </div>
        </div>

    </div>

</footer>